<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Nos amis les oiseaux</title>
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet">
        <link href="//cdn.rawgit.com/t0m/select2-bootstrap-css/bootstrap3/select2-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('bundles/core/css/layout.css') }}"/>
        {% block stylesheet %}{% endblock %}
    </head>

    <body>

    <header>
        <img id="imgHeaderMobile" src="{{ asset('/bundles/core/img/background-header-mobile.png') }}" alt="header"/>
        <img id="imgHeaderDesktop" src="{{ asset('/bundles/core/img/header_desktop.png') }}" alt="header"/>
        <a href="{{ path('homepage') }}"><img id="logo" src="{{ asset('bundles/core/img/logo.png') }}" alt="logo"/></a>
        <a href="{{ path('homepage') }}"><img id="home" src="{{ asset('bundles/core/img/home.png') }}" alt="logo"/></a>
        {% if is_granted('ROLE_USER') %}
           {% if gravatar is defined and gravatar != null %}
                <a href="{{ path('adminPage') }}"><img id="userGravatar" src="{{ gravatar }}" alt="profilePicture"/></a>
            {% elseif gravatar is defined %}
                <a href="{{ path('adminPage') }}"><img id="user" src="{{ asset('bundles/core/img/user.png') }}" alt="logo"/></a>
            {% endif %}
        {% else %}
            <a href="{{ path('fos_user_security_login') }}"><img id="user" src="{{ asset('bundles/core/img/user.png') }}" alt="logo"/></a>
        {% endif %}
    </header>
    <hr>

    <div class="container containerBody">
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block fos_user_content %}
        {% endblock fos_user_content %}

        {% block body %}
        {% endblock %}

        <hr>
    </div>
    <footer>
        <div class="container">
            <div class="row" id="navbar">
                <div class="col-xs-4">
                    <a href="{{ path('addPage') }}"><img class="imgNav participate" src="{{ asset('bundles/core/img/add.jpg') }}" alt="participer">Participer</a>
                </div>
                <div class="col-xs-4">
                    <a href="{{ path('searchPage') }}"><img class="imgNav search" src="{{ asset('bundles/core/img/search.jpg') }}" alt="participer">Rechercher</a>
                </div>
                <div class="col-xs-4">
                    <a href="{{ path('associationPage') }}"><img class="imgNav association" src="{{ asset('bundles/core/img/logo.png') }}" alt="participer">L'association</a>
                </div>
            </div>
            <div class="row" id="participate">
                <a href="{{ path('addPage') }}"><button id="btnParticipate" class="btn btn-default">Participer au programme</button></a>
            </div>
            <div class="row" id="socialMedia">
                <a href="https://facebook.com"><img class="imgSocial" src="{{ asset('/bundles/core/img/facebook.png') }}" alt="facebook"></a>
                <a href="https://instagram.com"><img class="imgSocial" src="{{ asset('/bundles/core/img/instagram.png') }}" alt="instagram"></a>
                <a href="https://twitter.com"><img class="imgSocial" src="{{ asset('/bundles/core/img/twitter.png') }}" alt="twitter"></a>
                <a href="https://pinterest.com"><img class="imgSocial" src="{{ asset('/bundles/core/img/pinterest.png') }}" alt="pinterest"></a>
            </div>
            <img id="logoFooter" src="{{ asset('bundles/core/img/logo.png') }}" alt="logo"/>
            <div class="row" id="links">
                <div class="col-xs-5">
                    <a href="{{ path('legalPage') }}">Mentions légales</a>
                </div>
                <div class="col-xs-4 homepage">
                    <a href="{{ path('homepage') }}">Accueil</a>
                </div>
                <div class="col-xs-2">
                    <a href="{{ path('associationPage') }}">Contact</a>
                </div>
            </div>
            <div class="row" id="copyright">
                <p>Copyright 2017 - nosamislesoiseaux@wagg.com - Site fictif dans le cadre d'un projet de formation</p>
            </div>
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
    {% block javascripts %}
    {% endblock %}

    </body>
</html>