
<div id="observation" class="col-md-4 col-xs-12">
        <img  id="userGravatar" src="{{ Observation.user.gravatarPicture }}" alt="profilePicture"/>
        {{ Observation.user }} <br>
        <br>
        <br>

        <div class="col-xs-8 col-md-8">
            {% if Observation.picture is not null %}
                <img class="imgObservation"
                     src="{{ asset(Observation.picture.webPath) }}"
                     alt="{{ Observation.picture.alt }}"
                />
            {% elseif Observation.picture is null %}
                <img  class="imgObservation" src="{{ asset('bundles/core/img/no-picture.png') }}" alt="no-picture"/>

            {% endif %}
        </div>

        <div class="col-xs-4 col-md-4">
            {{ Observation.bird.nomVern }}
            le {{ Observation.date|date('d/m/Y') }}
            {{ Observation.latitude }}
            {{ Observation.longitude }}
        </div>


</div>

