{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Ajout d'une observation{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="flash-notice alert alert-info">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <h1>Saisie d'une observation</h1>

    {{ form_start(form)}}

    {{ form_widget(form) }}

    {{ form_end(form) }}

    <a href="{{ path('search_bird') }}" id="url-list" class="hidden"></a>
    <a href="{{ path('get_bird') }}" id ="url-get" class="hidden"></a>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-select2.js') }}"></script>
    <script src="{{ asset('bundles/core/js/app.js') }}"></script>
{% endblock %}