{% extends "CoreBundle::layout.html.twig" %}


{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/core/css/observation.css') }}"/>
    {% endblock %}

    <div class="container containerAdd">

    {{ form_start(form)}}

        {{ form_row(form.picture) }}

        {{ form_row(form.bird) }}

        {{ form_row(form.latitude) }}

        {{ form_row(form.longitude) }}

        {{ form_row(form.date) }}

        {{ form_row(form.description) }}

    {{ form_end(form) }}

    </div>

    <a href="{{ path('search_bird') }}" id="url-list" class="hidden"></a>
    <a href="{{ path('get_bird') }}" id ="url-get" class="hidden"></a>


{% endblock %}



{% block javascripts %}



    <script>



        var lat = document.getElementById("observation_latitude");
        var long = document.getElementById("observation_longitude");

        function getLatitude() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showLatitude, showError);
            } else {
                alert ("La geolocation n'est pas supportée par votre navigateur.");
            }
        }

        function getLongitude() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showLongitude, showError);
            } else {
                alert ("La geolocation n'est pas supportée par votre navigateur.");
            }
        }

        function showLatitude(position) {
            lat.value =  position.coords.latitude;

        }

        function showLongitude(position) {
            long.value = position.coords.longitude;

        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    alert ("L'utilisateur a refusé la demande de géolocalisation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert ("L'information de géolocalisation n'est pas disponible.");
                    break;
                case error.TIMEOUT:
                    alert ("La demande pour obtenir la géolocalisation a expiré");
                    break;
                case error.UNKNOWN_ERROR:
                    alert ("Une erreur est survenue.");
                    break;
            }
        }

        getLatitude();
        getLongitude();
        document.getElementById("observation_bird").add('required');
    </script>

    <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-select2.js') }}"></script>
    <script src="{{ asset('bundles/core/js/app.js') }}"></script>
{% endblock %}