{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Association{% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/core/css/association.css') }}"/>
    {% endblock %}

{% block body %}


<div id="presentation">
    <div class="row">

        <div class="col-xs-12 col-md-12">
            <h1 id="titleAssociation">L'association Nos amis les oiseaux</h1>
        </div>

        <div class="col-xs-12 col-md-6">
            <img id="oiseaux" src="{{ asset('bundles/core/img/oiseaux.png') }}" alt="oiseaux" class="img-responsive center-block">
        </div>

        <div class="col-xs-12 col-md-6">
            <h1 id="titlePresentation">Qui sommes-nous ?</h1>
            <p>« Nos Amis les Oiseaux » est une association ornithologique fondée par M. Michel Dujardin.<br>
                Depuis plusieurs années, notre association a pour objectif de développer et regrouper une
                communauté d’ornithologues amateurs et professionnels autour de cette passion commune.
                Nous mettons tout en œuvre afin de favoriser les échanges entre nos utilisateurs, car nous
                sommes persuadés qu’ils profitent à tous et permettent à chacun d’exercer pleinement cette
                passion.<br>
                Notre association a également développé son propre programme de recherche qui permet ainsi à
                chacun de contribuer à  l’étude de l’état de la faune ornithologique.</p>
        </div>
        <div class="col-xs-8 col-md-4">
            <h1 id="titlePresentation">Que faisons-nous ?</h1>
            <p>Notre association souhaite faciliter l’accès à cette science, la rendre accessible à tous.
                C’est pourquoi nous proposons aujourd’hui un outil simple et pratique, permettant à
                chacun d’effectuer rapidement des saisies sur le terrain, ou de faire des recherches pour
                préparer de futures sorties d’observation.</p>
                <p>Nous avons mis au point un programme de recherche nous permettant d’étudier les effets du
                climat, de l’urbanisation et de l’agriculture sur les populations d’oiseaux et leurs
                comportements. Ce programme nous permet de fédérer nos passionnés autour d’un projet
                commun. En effet, les saisies validées de nos utilisateurs sont toutes utilisées pour
                enrichir les données de ce programme de recherche. Nous obtenons donc des résultats plus
                précis, plus pertinents et tout cela grâce à la collaboration de toute notre communauté.</p>
        </div>
        <div class="col-xs-4 col-md-2">
            <img id="ornithologue" src="{{ asset('bundles/core/img/ornithologue.png') }}" alt="ornithologue" class="img-responsive center-block">
        </div>

    </div>
</div>
    <div id="form">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div>
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>
            <div>
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div>
                {{ form_row(form.message) }}
                {{ form_errors(form.message) }}
                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(form) }}
                </div>
                <input class="btn btn-primary" type="submit" value="Envoyer">
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
    <br>
    <br>

{% endblock %}