{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Association{% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('bundles/core/css/association.css') }}"/>
    {% endblock %}

{% block body %}


<div id="presentation">
    <div class="row">

        <div class="col-xs-12 col-md-12">
            <h1 id="titleAssociation">L'association Nos amis les oiseaux</h1>
        </div>

        <div class="col-xs-12 col-md-6">
            <img id="oiseaux" src="{{ asset('bundles/core/img/oiseaux.png') }}" alt="oiseaux" class="img-responsive center-block">
        </div>

        <div class="col-xs-12 col-md-6">
            <h1 id="titlePresentation">Qui sommes-nous ?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit pulvinar molestie. Donec in malesuada tortor. Duis vel vehicula nisl. Maecenas sem nisl, feugiat vel porta sed, facilisis sollicitudin enim. Aliquam a orci ullamcorper quam bibendum lacinia. Nunc lacinia eros at enim condimentum mattis. Proin ut ante tincidunt lorem suscipit tempus quis vitae dui. Pellentesque vel lacinia turpis. Nunc ut eros accumsan, sollicitudin ante eget, accumsan lectus. Quisque mollis aliquam enim nec pellentesque. Suspendisse volutpat molestie enim, auctor euismod ligula tincidunt eget.</p>
        </div>
        <div class="col-xs-8 col-md-4">
            <h1 id="titlePresentation">Que faisons-nous ?</h1>
            <p>Phasellus aliquet nulla sed velit pulvinar facilisis. Proin venenatis porta urna ac consectetur. Sed tincidunt auctor sagittis. Donec mauris orci, ornare vel nisl sit amet, pretium iaculis augue. Vivamus in nibh varius, pellentesque eros ut, consectetur leo. Nunc ut auctor ante. Nulla elit felis, convallis sit amet risus non, malesuada tempus erat. Pellentesque in pulvinar ligula. Cras convallis erat at justo consectetur, sollicitudin lacinia nisl convallis.</p>
        </div>
        <div class="col-xs-4 col-md-2">
            <img id="ornithologue" src="{{ asset('bundles/core/img/ornithologue.png') }}" alt="ornithologue" class="img-responsive center-block">
        </div>

    </div>
</div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div>
                {{ form_widget(form.lastname) }}
                {{ form_errors(form.lastname) }}
            </div>
            <div>
                {{ form_widget(form.firstname) }}
                {{ form_errors(form.firstname) }}
            </div>
            <div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div>
                {{ form_row(form.message) }}
                {{ form_errors(form.message) }}
                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(form) }}
                </div>
                <input class="btn btn-primary" type="submit" value="Envoyer">
            </div>
        </div>


    </div>
    {{ form_end(form) }}
    <br>
    <br>

{% endblock %}