{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    Ici se trouvera la future page d'accueil.

    Accéder aux autres pages du site : <br>
    <ul>
        <li><a href="{{ path('searchPage') }}">Rechercher</a></li>
        <li><a href="{{ path('addPage') }}">Participer</a></li>
        <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
        <li><a href="{{ path('adminPage') }}">Page d'administration</a></li>
        <li><a href="{{ path('associationPage') }}">Association</a></li>
        <li><a href="{{ path('legalPage') }}">Mentions légales</a></li>
    </ul>
{% endblock %}