{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{ asset('bundles/core/css/registration.css') }}">{% endblock %}

{% block body %}

    {# First, if we've errors #}
    {% if error %}
        <div class="alert alert-danger">{% trans %}Invalid credentials.{% endtrans %}</div>
    {% endif %}

    {# Then, we display login form #}
    <div class="row" id="loginContainer">
        <div class="col-md-6">
            <h1 class="loginTitle">Se connecter</h1>
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Nom d'utilisateur :</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" /><br>
                <label for="password">Mot de passe :</label>
                <input class="form-control" type="password" id="password" name="_password" />
                <br />
                {% if app.request.query.get("participate") == 1 %}
                    <input type="hidden" name="_target_path" value="/add" />
                    <input type="hidden" name="_failure_path" value="/login?participate=1" />
                {% endif %}
                <div id="loginBtn">
                    <input class="btn btn-default" type="submit" value="Se connecter" />
                </div>
            </form>
            <p id="linkRegister">
                Pas encore de compte ? <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous</a><br>
                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
            </p>
        </div>
        <div class="col-md-6">
            <h1 class="loginTitle" id="loginSocialMedia">Se connecter avec</h1>
            <a href="{{ path('hwi_oauth_connect') }}facebook"><img class="loginSocialMedia facebook" src="{{ asset('bundles/core/img/facebook-log.png') }}" alt="login_facebook"></a>
            <a href="{{ path('hwi_oauth_connect') }}google"><img class="loginSocialMedia google" src="{{ asset('bundles/core/img/g+.png') }}" alt="login_google"></a>
        </div>
    </div>

{% endblock %}