{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Carte interactive{% endblock %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
              integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
              crossorigin=""/>
        <link rel="stylesheet" href="{{ asset('bundles/core/css/search.css') }}"/>
    {% endblock %}

    <form method="get" onsubmit="return false">
        <label for="ordres">Ordre</label>
        <select class="form-control" id="ordres" >
            <option></option>
            {% for ordre in ordres %}
                <option value="{{ ordre.ordre }}">{{ ordre.ordre }}</option>
            {% endfor %}
        </select>

        <label for="familles">Famille</label>
        <select class="form-control" id="familles">
            <option></option>
            {% for famille in familles %}
                <option value="{{ famille.famille }}">{{ famille.famille }}</option>
            {% endfor %}
        </select><br>

        <label>Oiseau</label>
        <input class="form-control" list="birds" id="birdField" autocomplete="off">
        <datalist id="birds">
            {% set birdsName = [] %}
            {% for bird in birds %}
                {% if bird.nomVern in birdsName %}
                {% else %}
                    {% if bird.nomVern != "" %}
                        {% set birdsName = birdsName|merge([bird.nomVern]) %}
                        <option class="birdOption" value="{{ bird.nomVern }}" id="{{ bird.id }}">
                        <input id="getUrl-{{ bird.id }}" type="hidden" value="{{ bird.url }}"/>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </datalist>
    </form>
    <div>
        <button id="searchButton" class="btn btn-info">Rechercher</button>
    </div>
    <div>
        <button id="clearMap" class="btn btn-default">Réinitialiser la carte</button>
    </div>
    <div id="mapid"></div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
            integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
            crossorigin=""></script>
    <script src="{{ asset('bundles/core/js/search.js') }}"></script>
{% endblock %}