{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Administration{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/adminIndex.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/css/observations.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_PRO') %}
        <h1 id="observationToValidateTitle">Observations à valider</h1>
        <p>Il y a <span id="howMany">{{ howManyObservationToValidate }} observation{% if howManyObservationToValidate > 1 %}s{% endif %}</span> en attente de validation.</p>
        <hr>
    {% endif %}
    <div id="infos">
        <h1 id="welcomeMsg">Bonjour {{ app.user.username }}</h1>
        <div id="xp">
            {% if app.user.xp < 500 %}
                <p class="title">Observateur débutant</p>
                <p class="xpNb">Expérience : {{ app.user.xp }}/500</p>
            {% elseif app.user.xp >= 500 and app.user.xp < 5000 %}
                <img class="imgXp" src="{{ asset('bundles/core/img/bronze.png') }}" alt="trophee-bronze">
                <p class="title">Observateur de bronze</p>
                <p class="xpNb">Expérience : {{ app.user.xp }}/5000</p>
            {% elseif app.user.xp >= 5000 and app.user.wp < 10000 %}
                <img src="{{ asset('bundles/core/img/argent.png') }}" alt="trophee-argent">
                <p class="title">Observateur d'argent</p>
                <p class="xpNb">Expérience : {{ app.user.xp }}/10000</p>
            {% elseif app.user.xp >= 10000 %}
                <img src="{{ asset('bundles/core/img/or.png') }}" alt="trophee-or">
                <p class="title">Observateur d'or</p>
                <p class="xpNb">Expérience : {{ app.user.xp }}</p>
            {% endif %}
            <p class="infoXp">Chaque observation vous rapporte 100 points d'expérience</p>
        </div>
        <h2 id="subInfos">{{ app.user.email }} - {% if is_granted('ROLE_ADMIN') %}Administrateur{% elseif is_granted('ROLE_PRO') %}Professionnel{% else %}Amateur{% endif %}</h2>
        {% if is_granted('ROLE_PRO') and app.user.isAccredit == false %}
            <div class="alert alert-warning">Veuillez faire confirmer votre compte professionnel en envoyant un justificatif (ex : contrat de travail) à <a href="mailto:contact@nao.fr">contact@nao.fr</a>.
            <br>En attente de confirmation, vous pouvez utiliser votre compte pour faire des observations. Mais vous ne pouvez pas valider les observations des profils amateurs.</div>
        {% endif %}
        <p><a href="{{ path('fos_user_profile_edit') }}">Changer mes informations personnelles</a></p>
        <p><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></p>
        <p><a href="https://fr.gravatar.com/">Changer votre photo de profil (généré par Gravatar)</a></p>
        {% if is_granted('ROLE_PRO') and app.user.isAccredit == true %}
            <p><a href="{{ path('adminValidateObservationsPage') }}">Valider une observation</a></p>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <p><a href="{{ path('adminValidateAccountPage') }}">Valider un compte professionnel</a></p>
        {% endif %}
        <p><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
    </div>
    <hr>
    <h1 id="myMsg">Mes observations</h1>
    {% if Observations == null %}
        <p>Vous n'avez fait aucune observation.</p>
    {% else %}
        {% set months = [] %}
        <div class="row">
        {% for Observation in Observations %}
            {% if Observation.date|date('F Y') not in months %}
                {% set months = months|merge([Observation.date|date('F Y')]) %}
                <p class="month"><strong>Observations du mois {% if Observation.date|date('F')|trans == "Avril" or Observation.date|date('F')|trans == 'Août' or Observation.date|date('F')|trans == 'Octobre' %}d'{% else %}de {% endif %}{{ Observation.date|date('F')|trans }} {{ Observation.date|date('Y') }}</strong></p>
            {% endif %}

            {#We include observations template#}
            {% include 'CoreBundle::observations.html.twig' %}
            {#<p>Nom d'utilisateur : {{ app.user.username }} <br>
                Date d'observation : {{ listObservation.date|date('d/m/Y') }} <br>
                Coordonnées : <a title="Cliquez pour accéder à la carte" href="{{ path('SearchGpsCoordinates', {'lat':listObservation.latitude, 'lon':listObservation.longitude}) }}">{{ listObservation.latitude }}, {{ listObservation.longitude }}</a><br>
                Espèce : {{ listObservation.bird.nomVern }}<br>
                Statut : {% if listObservation.statut == 'accepted' %}Publié{% else %}En attente{% endif %}<br>
                {% if listObservation.picture != null %}
                    <img src="/uploads/img/{{ listObservation.picture.id }}.{{ listObservation.picture.ext }}" alt="{{ listObservation.picture.alt }}" height="200">
                {% endif %}
            </p><br>#}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}