{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Valider une observation{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/validateObservation.css') }}"/>
{% endblock %}

{% block body %}
    <h3><strong>Liste des observations à valider</strong></h3>
    {% if observationsToValidate == null %}
        <p>Il n'y a aucune observation à valider.</p>
    {% else %}
        <form method="get" onsubmit="return false">
            <label>Filtre par espèce</label>
            <input class="form-control" list="birds" id="birdField" autocomplete="off">
            <datalist id="birds">
                {% set birdsName = [] %}
                {% for bird in birds %}
                    {% if bird.nomVern in birdsName %}
                    {% else %}
                        {% if bird.nomVern != "" %}
                            {% set birdsName = birdsName|merge([bird.nomVern]) %}
                                <option class="birdOption" value="{{ bird.nomVern }} - {{ bird.id }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </datalist>
            <button class="btn btn-info" id="searchButton">Rechercher</button>
            <button id="clear" class="btn btn-warning">Toutes les observations</button>
        </form><br>

        <div id="results">
            {% for observationToValidate in observationsToValidate %}
                <p>"{{ observationToValidate.user.username }}" a observé <strong>"{{ observationToValidate.bird.nomVern }}"</strong> le {{ observationToValidate.date|date('d/m/Y') }} aux coordonnées suivantes : <a title="Cliquez pour accéder à la carte" href="{{ path('SearchGpsCoordinates', {'lat':observationToValidate.latitude, 'lon':observationToValidate.longitude}) }}">{{ observationToValidate.latitude }}, {{ observationToValidate.longitude }}</a></p>
                {% if observationToValidate.picture is not null %}
                    <img
                            src="{{ asset(observationToValidate.picture.webPath) }}"
                            alt="{{ observationToValidate.picture.alt }}"
                            height="200"
                    />
                {% endif %}
                <form method="post" action="{{ path('confirmObservation', {'observationId':observationToValidate.id}) }}">
                    <input type="submit" class="btn btn-primary accept" value="Valider et Publier">
                </form>
                <form method="post" action="{{ path('refuseObservation', {'observationId':observationToValidate.id}) }}">
                    <input type="submit" class="btn btn-danger refuse" value="Supprimer">
                </form>
                <hr>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/core/js/validateObservation.js') }}"></script>
{% endblock %}