{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Valider une observation{% endblock %}

{% block body %}
    <h3><strong>Liste des observations à valider</strong></h3>
    <form method="get" onsubmit="return false">
        <label>Filtre par espèce</label>
        <input list="birds" id="birdField" autocomplete="off">
        <datalist id="birds">
            {% set birdsName = [] %}
            {% for bird in birds %}
                {% if bird.nomVern in birdsName %}
                {% else %}
                    {% if bird.nomVern != "" %}
                        {% set birdsName = birdsName|merge([bird.nomVern]) %}
                            <option class="birdOption" value="{{ bird.nomVern }} - {{ bird.id }}">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </datalist>
    </form><br>

        {% for observationToValidate in observationsToValidate %}
            <p>{{ observationToValidate.user.username }} a observé "{{ observationToValidate.bird.nomVern }}" le {{ observationToValidate.date|date('d/m/Y') }} aux coordonnées suivantes : <a title="Cliquez pour accéder à la carte" href="{{ path('SearchGpsCoordinates', {'lat':observationToValidate.latitude, 'lon':observationToValidate.longitude}) }}">{{ observationToValidate.latitude }}, {{ observationToValidate.longitude }}</a></p>
            {% if observationToValidate.picture is not null %}
                <img
                        src="{{ asset(observationToValidate.picture.webPath) }}"
                        alt="{{ observationToValidate.picture.alt }}"
                        height="200"
                />
            {% endif %}
            <form>
                <input type="submit" class="btn btn-primary" value="Confirmer">
                <input type="submit" class="btn btn-danger" value="Supprimer">
            </form>
        {% endfor %}
{% endblock %}